/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: rgb(255, 236, 221);
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    width: calc(800px + 40px);
    padding: 0 20px;
    margin: 0 auto;
}
@media (max-width: 860px) {
    [class*="__container"] {
        width: calc(600px + 20px);
        padding: 0 10px;
    }
  }
  @media (max-width: 630px) {
    [class*="__container"] {
        width: calc(400px + 20px);
        padding: 0 10px;
    }
  }


.header-block {
    text-align: center;
}

.header-block__title {
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 1px;
}

.header-block__subtitle {
    font-size: 14px;
    color: gray;

}

/* ======================================================== */

.header {
    width: 100%;
    padding: 15px 0;
    background-color: gray;
}

.header__menu {}

.menu_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_header__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_header__item:not(:last-child) {
    margin: 0 20px 0 0;
}

.menu_header__link {
    font-size: 24px;
    font-weight: 500;
    color: antiquewhite;

    text-decoration: none;
}

.menu_header__link:hover {
    text-decoration: underline;
}